.bg{
    background-color: #302f2d;
}
.clr{
    color: whitesmoke !important;
}

.btnbgclr{
    background-color: gray !important;
    border-radius: 10px;
    margin-right: 7px;
    
}
.btnbgclr:hover{
    background-color: whitesmoke !important;
    color: black;
    transform: scale(1.08);
    transition: transform 0.3s ease;
}

.navbar-nav .nav-item {
    padding-left:1rem ; 
    padding-right:1rem ;
}
.navbar-nav .nav-item .nav-link {
    padding: 0rem;
}
.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 1px solid whitesmoke;
    
}
.active__link {
    border-bottom: 1px solid whitesmoke;

}